.row {
    margin-right: 0!important;
}

.main {
    background-color: grey;
    min-height: 100vh;
    color: blue;
    font-weight: 600;
    padding: 3rem;
    padding-top: 1rem;
}

.uk-textarea.text-field , .uk-input.text-field {
    background-color: white;
}

.content {
    padding: 2rem;
}

::placeholder {
    font-size: smaller;
    font-weight: 450;
    font-style: oblique;
}

@media only screen and (max-width: 600px) {
    .main {
        padding: 1rem;
    }
}
